/node_modules/
/dist/
.idea/
**/*.js
!index.js
**/*.map
/src/routes.ts
/src/iocRegistration.ts
/data/db
/report/
/e2e/*.stp
/e2e/*.scn
/e2e/*.cfg
/src/services/*.ts
/src/models/*.ts
/src/io/*.ts
/src/interfaces/*.ts
/src/dao/*.ts
/src/controllers/*.ts